@(form: Form[Option[shared.dbclasses.Usuario]], user: String = "")(implicit flash: Flash)
@main("Login", user) {

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login_normalize.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login_style.css")">

<script>
    @defining(form.globalError.map(_.message).getOrElse("")) { errormsg =>
    @defining(flash.get("success").getOrElse("")) { successmsg =>
    example.Login().main("@errormsg", "@successmsg");
    }
    }
</script>
}
