@(form: Form[Option[shared.dbclasses.Reserva]],
coche: String,
gamaCoche: String,
franq: Int,
userid: String,
both: Boolean,
user: String = "")(implicit flash: Flash)
@main("Reservar coche", user) {

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login_normalize.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login_style.css")">

<script>
    @defining(form.globalError.map(_.message).getOrElse("")) { errormsg =>
    @defining(flash.get("success").getOrElse("")) { successmsg =>
    example.Reserva().main("@coche", "@gamaCoche", @franq, "@userid", @both, "@errormsg", "@successmsg");
    }}
</script>
}
