@(id: Int, calle: String, numero: Int, pais: String, comunidad: String, poblacion: String, codigopostal: Int, user: String = "", tipo: shared.classes.TipoUsuario = shared.classes.TipoUsuario.Anonimo)
@main("Coches", user, tipo) {

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login_normalize.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login_style.css")">

<script>
    example.ShowCochesFranquicia().main(@id, "@calle", @numero, "@pais", "@comunidad", "@poblacion", @codigopostal)
</script>
}
