*,
*:before,
*:after {
    box-sizing: border-box;
}

.login-form {
    background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 600px;
    margin: 40px auto;
    margin-top: 5px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    margin-top: 20px;
}

.login-tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}
.login-tab-group:after {
    content: "";
    display: table;
    clear: both;
}
.login-tab-group li a {
    display: block;
    text-decoration: none;
    padding: 8px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 18px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.login-tab-group li a:hover {
    background: #179b77;
    color: #ffffff;
}
.login-tab-group .active a {
    background: #1ab188;
    color: #ffffff;
}

.login-tab-content > div:last-child {
    display: none;
}

.login-text-h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}

.login-label {
    position: absolute;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 15px;
}

.login-label2 {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}

.login-label .req {
    margin: 2px;
    color: #1ab188;
}

.login-label.active {
    -webkit-transform: translateY(35px);
    -ms-transform: translateY(35px);
    transform: translateY(35px);
    -webkit-transition-duration: 600ms; /* Safari */
    transition-duration: 600ms;
    transition-timing-function: ease-out;
    left: 2px;
    font-size: 14px;
}
.login-label.active .req {
    opacity: 0;
}

.login-label.highlight {
    color: #ffffff;
}

.login-input, .login-textarea {
    font-size: 15px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 4px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}
.login-input:focus,
.login-textarea:focus {
    outline: 0;
    border-color: #1ab188;
}
.login-input[readonly] {
    background: gray;
}

.login-textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.login-field-wrap {
    position: relative;
    margin-bottom: 30px;
}

.login-field-wrap2 {
    position: relative;
    margin-bottom: 30px;
    margin-top: -10px;
    /* margin-left: 20%; */
}

.login-top-row:after {
    content: "";
    display: table;
    clear: both;
}
.login-top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.login-top-row > div:last-child {
    margin: 0;
}

.login-button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 8px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
.login-button:hover, .login-button:focus {
                   background: #179b77;
               }

.login-button-block {
    display: block;
    width: 100%;
}

.login-forgot {
    margin-top: -20px;
    text-align: right;
}

.custom-select {
    /* padding:3px; */
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;

    position: relative;
    top: 50%;
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
}
