body {
    font-family: 'Titillium Web', sans-serif;
    background: #E7E7E7;
}

#cochesContainer {
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
}

.coche {
    width: 350px;
    height: 220px;
    margin-right: 20px;
    float: left;
}

.coche img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

#content {
    /* overflow-y: auto; */
    /* display:flex;justify-content:center;align-items:center;width:80%; */
    background: white;
    padding-top: 58px;
    padding-bottom: 50px;
    min-height: 100%;
}

#content-container {
    width: 80%;
    background: #FFF none repeat scroll 0% 0%;
    margin: 0px auto;
    height: 100%;
    margin-top: 60px;
}

#selectorContainer {
    background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 460px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    float: none;
    margin: 0 auto;
}

#selectorContainer label {
    color: white;
}

#selectorContainer .btn-group {
    width: 100%;
}

#selectorContainer button {
    width: 100%;
}

/* Bootstrap Modifiers */

.container-fluid {
    margin: 0 auto;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
    height: 100%;
}

.navbar {
    height: 60px;
    background: #26974C;
    margin-bottom: 0px;
    z-index: 10;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    background-color: #3DC962;
}

.navbar-default .navbar-nav > li > a:hover {
    color: white;
    background-color: #36AF55;
}

.navbar-text {
    margin-top: 19px;
    margin-bottom: 19px;
}

.navbar-nav > li {
    color: white;
    background-color: #3DC962;
}

.navbar-nav > li:hover {
    color: white;
    background-color: #36AF55;
}

.navbar-nav> li > a {
    padding-top: 19px;
    padding-bottom: 19px;
}


/* LOGIN FORM */

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:20px;
    width:300px;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}




/* table */
.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
