html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    width: 100%;
}

header {
    height:60px;
    background:#1E842B;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

header p {
    color: white;
    font-size: medium;
    margin-top: 20px;
}

#logo-header {
    float: left;
    padding: 0 0 0 20px;
    text-decoration: none;
}
#logo-header:hover {
    color: #0b76a6;
}

#logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

#logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
}

/* nav { */
/*     float: right; */
/* } */
/* nav ul { */
/*     margin: 0; */
/*     padding: 0; */
/*     list-style: none; */
/*     padding-right: 20px; */
/* } */

#login-header {
    display: inline-block;
    line-height: 60px;
}

#login-header a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
}
#login-header a:hover {
    background: #0b76a6;
    color: white;
}

#content {
    /* width: 80%; */
    /* margin: 0 auto; */
    /* margin-top: 60px; */
    /* margin-bottom: 43px; */
    /* padding: 5px 5px; */
}

footer {
    width: 100%;
    height: 23px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #26974C;
    text-align: center;
    z-index: 10;
    padding-top: 4px;
}

footer p {
    color: white;
    font-size: small;
}

/* A:link { */
/*     text-decoration:none; */
/*     color:white; */
/* } */

/* A:visited { */
/*     text-decoration:none; */
/*     color:white; */
/* } */

/* A:active { */
/*     text-decoration:none; */
/*     color:white; */
/* } */

/* A:hover { */
/*     text-decoration:none; */
/*     color:white; */
/* } */
